@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: local('AlibabaPuHuiTi'), url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: local('AlibabaPuHuiTi-Bold'), url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: local('AlibabaPuHuiTi-Light'), url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Light.otf');
    font-weight: 100;
    font-style: normal;
}
